<router-outlet></router-outlet>
<div class="container">
  <p class="title">Linus Tech Shop</p>
  <p>
    Welcome to the best tech shop in town! You can buy any PC part you want as
    long as you have money. But remember kids, don't drop your PC component!
  </p>
  <button mat-raised-button color="primary" (click)="onAdd()">
    <mat-icon>add_shopping_cart</mat-icon> Add New Order
  </button>
  <hr />
  <div *ngFor="let order of orders">
    <app-list-card
      [order]="order"
      (deleteOrder)="onDelete(order)"
      (editOrder)="onEdit(order)"
    >
    </app-list-card>
  </div>
  <!-- <div *ngFor="let playlist of playlists">
    <app-playlist-card
      [playlist]="playlist"
      (deletePlaylist)="onDelete(playlist)"
      (editPlaylist)="onEdit(playlist)"
    ></app-playlist-card>
  </div> -->
</div>
